<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Вычисление показателей асимметрии и эксцесса по показателю длительности попыток решения анаграмм</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a role="button" (click)="setRandomData()">Заполнить случайным образом</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center">№</th>
        <th class="text-center">x</th>
        <th class="text-center">(x-xs)</th>
        <th class="text-center">(x-xs)^2</th>
        <th class="text-center">(x-xs)^3</th>
        <th class="text-center">(x-xs)^4</th>
        <th class="text-center">Удалить строку</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let item of dataArray; let i = index;">
        <td>{{ i+1 }}</td>
        <td>
          <input name="{{i}}" type="number" class="text-center form-control" [(ngModel)]="dataArray[i]" />
        </td>
        <td>{{ normalize(item -  getAverage()) }}</td>
        <td>{{ normalize(powFunc(item -  getAverage(), 2), 100) }}</td>
        <td>{{ normalize(powFunc(item -  getAverage(), 3), 100) }}</td>
        <td>{{ normalize(powFunc(item -  getAverage(), 4), 100) }}</td>
        <td><button class="btn btn-danger"><i (click)="deleteLine(i)" class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
        <td>Сумма</td>
        <td>{{ getTotal() }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <button (click)="addLine()" class="btn btn-success">+ Добавить строку</button>
  </div>
  <div class="col-md-6">
    <p>Среднее арифметическое: {{ getAverage() }}</p>
    <p>Стандартное отклонение: {{ standardDeviation() }}</p>
    <p>Ассиметрия: {{ asymmetry() }}</p>
    <p>Ошибка репрезентативности асимметрии: {{ aMistake() }}</p>
    <p>Эксцесс: {{ excess() }}</p>
    <p>Ошибка репрезентативности эксцесса: {{ eMistake() }}</p>
    <p>Критическое значение для показателя асимметрии: {{ aCritical() }}</p>
    <p>Критическое значение для показателя эксцесса: {{ eCritical() }}</p>
  </div>
</div>